<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name=".DebugFavoriteReceiver" android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="ru.feskolech.libriatv.debug.LOWER_FAVORITE_ORDINAL" />
                <action android:name="ru.feskolech.libriatv.debug.VERIFY_FAVORITES" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
